name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

permissions:
  pull-requests: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npm run format-check
      - run: npm run lint
      - run: npm run test
      - uses: actions/upload-artifact@v4
        with:
          name: dist-built
          path: dist
      - uses: actions/upload-artifact@v4
        with:
          name: action.yml-built
          path: action.yml

  artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
      - uses: actions/upload-artifact@v4
        with:
          name: dist-committed
          path: dist
      - uses: actions/upload-artifact@v4
        with:
          name: action.yml-committed
          path: action.yml

  test:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    needs: [build, artifact]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [built, committed]
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: peter-evans/close-fork-pulls-test-fixture-${{ matrix.target }}
          ref: master

      - name: Create change
        run: date +%s > report.txt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.MACHINE_USER_PAT }}
          commit-message: '[CI] test ${{ matrix.target }}'
          title: '[CI] test ${{ matrix.target }}'
          body: |
            - CI test case for target '${{ matrix.target }}'

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: ci-test-${{ matrix.target }}-${{ github.sha }}
          push-to-fork: test-case-machine-user/close-fork-pulls-test-fixture-${{ matrix.target }}

      - uses: actions/download-artifact@v5
        with:
          name: dist-${{ matrix.target }}
          path: dist
      - uses: actions/download-artifact@v5
        with:
          name: action.yml-${{ matrix.target }}
          path: .

      - name: Close Fork Pulls
        id: cfp
        uses: ./
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: peter-evans/close-fork-pulls-test-fixture-${{ matrix.target }}
          comment: '[CI] test ${{ matrix.target }}'
      - if: steps.cfp.outputs.closed-count != 1
        run: exit 1

  package:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: dist-built
          path: dist
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          commit-message: Update distribution
          title: Update distribution
          body: |
            - Updates the distribution for changes on `main`

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: update-distribution
